@model BestRestaurants.Models.Restaurant

<h2>Restaurant Details</h2>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h4>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h4></p>

<p>@Html.ActionLink("Back to List", "Index")</p>
<p>@Html.ActionLink("Edit", "Edit", new {id = Model.RestaurantId })</p>
<p>@Html.ActionLink("Delete", "Delete", new {id = Model.RestaurantId })</p>